{{extend 'layout-login.html'}}

{{block body}}

<div class="ui middle aligned center aligned grid user" style="height: 100%">
  <div class="left aligned column" style="max-width:500px">

    {{if session.pass_too_short:}}
    <div class="ui error message">
        {{=session.pass_too_short}}
    </div>
    {{session.pass_too_short = ''}}
    {{pass}}

    <form class="ui large form" action="#" enctype="multipart/form-data" method="post">
    {{widget = form.custom.widget}}

      <div class="ui stacked segment">

        <div class="required field">
          <label>Senha atual</label>
          <div class="ui left icon input">
            <i class="lock icon"></i>
            {{=widget.old_password}}
          </div>
        </div>

        <div class="required field">
          <label>Nova senha</label>
          <div class="ui left icon input">
            <i class="lock icon"></i>
            {{=widget.new_password}}
          </div>
        </div>

        <div class="required field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            {{=widget.new_password2}}
          </div>
        </div>

        <button class="ui fluid large teal submit button">Salvar</button>

      </div>

    {{=form.custom.end}}

    <a href="{{=URL('default', 'index')}}">Voltar</a>

  </div>
</div>

{{end}}
