{{extend 'layout-home.html'}}

{{block body}}

  {{=form.custom.begin}}

    <div class="three fields">
      <div class="required field">
        <label>Nome do grupo</label>
        {{form.custom.widget.name.attributes.update(
            _class='',
            _placeholder='Nome do grupo',
            _required='required'
        )}}
        {{=form.custom.widget.name}}
      </div>
      <div class="field">
        <label>Username</label>
        <div class="ui left icon input">
          <i class="at icon"></i>
          {{form.custom.widget.username.attributes.update(
              _class='',
              _placeholder='username',
          )}}
          {{=form.custom.widget.username}}
        </div>
      </div>
      <div class="field">
        <label>Quantidade de membros</label>
        {{form.custom.widget.members.attributes.update(
            _class='',
            _type='number',
        )}}
        {{=form.custom.widget.members}}
      </div>
    </div>

    <div class="two fields">
      <div class="required field">
        <label>Link</label>

        {{if not form.custom.widget.url.attributes['_value']:}}
            {{form.custom.widget.url.attributes['_value']='http://'}}
        {{pass}}

        {{form.custom.widget.url.attributes.update(
            _class='',
            _type='url',
            _required='required'
        )}}

        {{=form.custom.widget.url}}
      </div>
      <div class="required field">
        <label>Categoria</label>
        {{form.custom.widget.category.attributes['_class'] = 'ui search dropdown'}}
        {{=form.custom.widget.category}}
      </div>
    </div>

    <div class="field">
        <label>Quantidade de membros</label>
        {{=form.custom.widget.image}}
    </div>
    <div class="field">
        <label>Descrição do grupo</label>
        {{form.custom.widget.description.attributes.update(
            _class='',
            _cols='',
            _rows='3',
        )}}
        {{=form.custom.widget.description}}
    </div>

    {{form.custom.submit.attributes['_class'] = 'ui button'}}
    {{=form.custom.submit}}

  {{=form.custom.end}}
{{end}}
