{{extend 'layout-home.html'}}

{{block body}}

{{if not chats:}}
<div class="ui message">
    {{if category:}}
    <div class="header">Oops, nenhum grupo nessa categoria :(</div>
    <p>
        Se você conhece algum grupo que se encaixa nessa categoria, <a href="{{=URL('default', 'edit')}}">colabore adicionando-o aqui</a> ;)
    </p>
    {{pass}}
    {{if search:}}
    <div class="header">Oops, nenhum grupo encontrado :(</div>
    <p>
        Se você conhece algum grupo sobre este assunto, <a href="{{=URL('default', 'edit')}}">colabore adicionando-o aqui</a> ;)
    </p>
    {{pass}}
</div>
{{pass}}

<div class="thirteen wide column">
  <div class="ui three stackable doubling cards">

    {{for chat in chats:}}
    <div class="ui fluid link card">
      <div class="content">
        <img class="ui left floated mini circular image" src="{{=URL('download', args=chat.image) if chat.image else URL('static', 'images/card-image.jpg')}}">
        <div class="right floated meta edit-card" data-content="editar/atualizar info" data-variation="inverted" data-offset="-12" data-chat-id="{{=chat.id}}"><i class="edit icon link"></i></div>
        <div class="header">{{=chat.name}}</div>
        <div class="meta">
          <span class="category">{{=chat.members}} membros</span>
        </div>
        <div class="description">
          <p>{{=chat.description}}</p>
        </div>
      </div>
      <div class="extra content">
        <div class="left floated">
          Atualizado há {{=(request.now - chat.updated_at).days}} dias
        </div>
        <div class="right floated author">
          {{=chat.username}}
        </div>
      </div>
      <a class="ui bottom attached button" href="{{=chat.url}}" target="_blank">
        <i class="sign in icon"></i>
        Entrar no grupo
      </a>
    </div>
    {{pass}}
    <a href="{{=URL('default', 'edit')}}" class="ui fluid link card card-add-new">
      <div class="content">
        <i class="huge plus icon"></i>
      </div>
    </a>

  </div>
</div>
{{end}}

{{block script}}
<script>
  $('.edit-card').on('click', function () {
    var id = $(this).data('chat-id');
    link = '{{=URL('default', 'edit', host=True)}}/' + id;
    window.open(link, '_blank');
  })

  $('.link.card').on('click', function () {
    var link = $(this).find('.bottom.attached')[0].href;
    window.open(link, '_blank')
  })
</script>
{{end}}
