{{extend 'layout-home.html'}}

{{block body}}

<div class="ui piled segment">
  <h4>Este é um agregador de grupos do <a href="https://telegram.org/">Telegram</a> sobre assuntos digitais!</h4>
  <p>Estamos em fase inicial, mas logo logo você também poderá <strong>marcar grupos como favoritos</strong>, adicionar também <strong>canais e bots</strong>, e acessar o site do celular (<strong>layout responsivo</strong>).</p>
  <p>Este é um projeto <a href="https://github.com/PabloDinella/tg-list">open source</a> :)</p>
  <a href="{{=URL('default', 'edit')}}" class="ui button">Adicione um grupo</a>
</div>

{{if not chats:}}
<div class="ui message">
    {{if category:}}
    <div class="header">Oops, nenhum grupo nessa categoria :(</div>
    <p>
        Se você conhece algum grupo que se encaixa nessa categoria, <a href="{{=URL('default', 'edit')}}">colabore adicionando-o aqui</a> ;)
    </p>
    {{elif search:}}
    <div class="header">Oops, nenhum grupo encontrado :(</div>
    <p>
        Se você conhece algum grupo sobre este assunto, <a href="{{=URL('default', 'edit')}}">colabore adicionando-o aqui</a> ;)
    </p>
    {{else:}}
    <div class="header">Oops, nenhum grupo encontrado :(</div>
    <p>
        Colabore <a href="{{=URL('default', 'edit')}}">adicionando um grupo que você conheça</a> ;)
    </p>
    {{pass}}
</div>
{{pass}}

<div class="thirteen wide column">
  <div class="ui three stackable doubling cards">

    {{for chat in chats:}}
    <div class="ui fluid link card">
      <div class="content">
        <img class="ui left floated mini circular image" src="{{=URL('download', args=chat.image) if chat.image else URL('static', 'images/card-image.jpg')}}">
        <div class="right floated meta edit-card" data-content="editar/atualizar info" data-variation="inverted" data-offset="-12" data-chat-id="{{=chat.id}}"><i class="edit icon link"></i></div>
        <div class="header">{{=chat.name}}</div>
        <div class="meta">
          <span class="category">
              {{=chat.username}}
              <i class="user icon"></i> {{=chat.members}}
          </span>
        </div>
        <div class="description">
          <p>{{=chat.description}}</p>
        </div>
      </div>
      <div class="extra content">
        <div class="left floated">
          {{sent_by = db.auth_user(chat.sent_by)}}
          Enviado por {{=sent_by.telegram_user or sent_by.first_name}} a {{=(request.now - chat.updated_at).days}} dia(s)
        </div>
      </div>
      <a class="ui bottom attached button" href="{{=chat.url}}" target="_blank">
        <i class="sign in icon"></i>
        Entrar no grupo
      </a>
    </div>
    {{pass}}
    {{if chats:}}
    <a href="{{=URL('default', 'edit')}}" class="ui fluid link card card-add-new">
      <div class="content">
        <i class="huge plus icon"></i>
      </div>
    </a>
    {{pass}}

  </div>
</div>
{{end}}

{{block script}}
<script>
  $('.edit-card').on('click', function (e) {
    var id = $(this).data('chat-id');
    link = '{{=URL('default', 'edit', host=True)}}/' + id;
    location.href = link
    e.stopPropagation();
    // window.open(link, '_blank');
  })

  $('.link.card').on('click', function () {
    var link = $(this).find('.bottom.attached')[0].href;
    window.open(link, '_blank')
  })
</script>
{{end}}
