{{extend 'layout-login.html'}}

{{block body}}

<div class="ui middle aligned center aligned grid user" style="height: 100%">
  <div class="left aligned column" style="max-width:500px">

    <form class="ui <lar></lar>ge form" action="#" enctype="multipart/form-data" method="post">
    {{widget = form.custom.widget}}

      <div class="ui stacked segment">

        <div class="left aligned field">
          <label>Nome</label>
          <div class="ui left icon input">
            <i class="user icon"></i>
            {{widget.first_name.attributes.update(_placeholder="Nome")}}
            {{=widget.first_name}}
          </div>
        </div>

        <div class="left aligned field">
          <label>Sobrenome</label>
          <div class="ui left icon input">
            <i class="user icon"></i>
            {{widget.last_name.attributes.update(_placeholder="Sobrenome")}}
            {{=widget.last_name}}
          </div>
        </div>

        <div class="field">
          <label>Username telegram</label>
          <div class="ui left icon input">
            <i class="at icon"></i>
            {{widget.telegram_user.attributes.update(_placeholder="username")}}
            {{=widget.telegram_user}}
          </div>
        </div>

        <div class="required field">
          <label>E-mail</label>
          <div class="ui left icon input">
            <i class="mail icon"></i>
            {{widget.email.attributes.update(_placeholder="name@example.com")}}
            {{=widget.email}}
          </div>
        </div>

        <div class="required field">
          <label>Senha</label>
          <div class="ui left icon input">
            <i class="lock icon"></i>
            {{widget.password.attributes.update(_placeholder="Senha")}}
            {{=widget.password}}
          </div>
        </div>

        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            {{widget.password_two.attributes.update(_placeholder="Confirmar senha")}}
            {{=widget.password_two}}
          </div>
        </div>

        <button class="ui fluid large teal submit button">Cadastrar</button>

      </div>

    {{=form.custom.end}}

    <div class="ui message">
      Já possui conta? <a href="{{=URL('default','user', vars={'_next':request.vars._next})}}">Entre</a>
    </div>
  </div>
</div>

{{end}}
