{{extend 'layout-login.html'}}

{{block body}}

<div class="ui middle aligned center aligned grid user">
  <div class="column">

    {{if response.flash:}}
    <div class="ui error message">
        {{=response.flash}}
    </div>
    {{pass}}

    <form class="ui large form" method="post">

      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="email" placeholder="E-mail address">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password" placeholder="Password">
          </div>
        </div>

        <div class="two fields">
            <div class="field">
              <button class="ui fluid large teal submit button">Login</button>
            </div>

            <div class="field">
              <a href="{{=URL('default','signup', vars={'_next':request.vars._next if request.vars._next else ''})}}" class="ui fluid large button">Cadastre-se</a>
            </div>
        </div>
        <a href="{{=URL('default','lost_pass')}}">Esqueci a senha</a>
      </div>


    </form>

    <br>
    <div class="ui center aligned basic segment">
      <a href="{{=URL('default','index')}}" class="ui button">Lista Telegram</a>
    </div>

  </div>
</div>

{{end}}
