{{extend 'layout-base.html'}}

{{block content}}

	<div class="ui container">
		<br>
        {{include 'layout-menu.html'}}

		<div class="ui divider"></div>
		<br>

		<div class="ui stackable grid">

			<div class="three wide column">
				<div class="ui secondary vertical pointing fluid menu">
										{{
											if request.args(0) == 'todos' or not request.args(0):
												todos_active = 'active'
											else:
												todos_active = ''
											pass
										}}
                    <a href="{{=URL('index', args='todos')}}" class="item {{=todos_active}}">
											Todos
											<div class="ui label">{{=db(db.chat).count()}}</div>
										</a>
                    {{if categories:}}
                        {{for cat in categories:}}
                        <a href="{{=URL('index', args=cat.slug)}}" class="item {{='active' if request.args(0) == cat.slug else ''}}">
													{{=cat.name}}
													<div class="ui label">{{=db(db.chat.category == cat.id).count()}}</div>
												</a>
                        {{pass}}
                    {{pass}}
				</div><!-- /secondary menu -->
			</div>

            <div class="thirteen wide column">
                {{if response.flash:}}
                <div class="ui message transition">
                  <i class="close icon"></i>
                  <div class="header">
                    {{=response.flash}}
                  </div>
                </div>
                {{pass}}

    			{{block body}}
                {{end}}
            </div>

		</div>

	</div>

  <script src="{{=URL('static', 'js/semantic-start.js')}}" charset="utf-8"></script>
  <script>
      $('.add-group').on('click', function () {
          location.href = '{{=URL('default', 'edit')}}'
      })
  </script>
  {{block script}}
  {{end}}

{{end}}
